* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* -----------------header------------------- */
header {
    width: 100%;
    height: 77px;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;
}

.head {
    width: 75%;
    height: 70px;
    margin: 0 auto;
}

.head_log {
    padding-top: 10px;
    overflow: hidden;
}

.head_log img {
    width: 132px;
}

.nav {
    padding-top: 28px;
    padding-left: 40px;
    height: 32px;
    line-height: 32px;
}

.nav li {
    float: left;
    padding: 0 35px;
    height: 32px;
}

.nav li a {
    font-size: 20px;
    color: black;
}

.nav .on a {
    color: #ea6c23;
}

.nav li a:hover {
    color: #ea6c23;
}

.right {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-right: 50px;
}

.head_r {
    float: right;
    color: #ea6c23;
    margin-right: 50px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #ea6c23 solid;
}

.head_r:hover {
    background-color: #ea6c23;
    color: #fff;
}

.search {
    float: right;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 25px;
    line-height: 666px;
    background: url(../../img/search.png)no-repeat;
}

.search:hover {
    transform: scale(1.1);
}

/* -------------title_play-------------- */
.title_play {
    width: 75%;
    height: 170px;
    margin: 0 auto;
}

.title_play h1 {
    font-size: 40px;
    padding: 30px 0;
    font-weight: normal;
    text-align: center;
}

.play_nav {
    width: 100%;
    height: 58px;
    text-align: center;
}

.play_nav a {
    color: #aaa;
    display: inline-block;
    width: 165px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding-bottom: 18px;
}

.play_nav .on {
    color: #ea6c23;
    border-bottom: 4px solid #ea6c23;
    padding-bottom: 14px;
}

/* --------------section--------------- */
section {
    width: 100%;
    height: 3200px;
    background-color: #f1f1f1;
}

.content {
    width: 75%;
    padding-top: 30px;
    margin: 0 auto;
}

.con {
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.con .live_nav {
    height: 70px;
}

.con .live_nav span {
    width: 6px;
    height: 25px;
    background-color: #FF4229;
    margin-top: 20px;
}

.con .live_nav p {
    margin-left: 50px;
    font-size: 18px;
    line-height: 70px;
}

.con .pic {
    height: 180px;
    box-sizing: border-box;
    padding: 0px 20px 20px;
    border-bottom: 1px dashed #ececec;
}

.con .product {
    height: 75px;
    box-sizing: border-box;
    padding: 0px 20px 35px;
}

.con a:hover {
    color: #ea6c23;
}

/* -------生活--------- */
.live .pic {
    height: 335px;
    box-sizing: border-box;
    padding: 0px 20px 20px;
    border-bottom: 1px dashed #ececec;
}

.pic li {
    width: 160px;
    height: 140px;
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
}

.pic li a {
    color: #aaa;
}

.pic li a p {
    padding-top: 15px;
}

.live .product {
    height: 155px;
    box-sizing: border-box;
    padding: 0px 20px 35px;
}

.product li {
    width: 160px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;
}

.product li a {
    color: #aaa;
}

/* ------------------footer----------------- */
footer {
    width: 100%;
    height: 360px;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #555;
    color: #aaa;
}

.foot {
    width: 75%;
    height: 300px;
    margin: 0 auto;
}

.foot_text {
    width: 100%;
    height: 210px;
}

.fo_1 {
    overflow: hidden;
}

.fo_1 img {
    width: 160px;
    height: 160px;
}

.fo_2 {
    width: 140px;
    padding-left: 35px;
    font-size: 13px;
}

.fo_2 img {
    margin-bottom: 20px;
}

.fo_2 p {
    margin-bottom: 15px;
}

.fo_3 {
    width: 100px;
    padding-left: 35px;
}

.fo_3 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_3 a {
    font-size: 13px;
    color: #aaa;
}

.fo_4 {
    width: 140px;
    padding-left: 35px;
}

.fo_4 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_4 p {
    height: 20px;
}

.fo_4 span {
    float: left;
    width: 70px;
    height: 20px;
}

.fo_4 a {
    font-size: 13px;
    color: #aaa;
}

.fo_5 {
    width: 150px;
    padding-left: 35px;
}

.fo_5 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_5 a {
    font-size: 13px;
    color: #aaa;
}

.fo_6 {
    width: 180px;
    padding-left: 35px;
}

.fo_6 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_6 a {
    font-size: 13px;
    color: #aaa;
}

.end {
    padding-top: 80px;
    font-size: 13px;
    text-align: center;
}